<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

  <appSettings>
    <add key="MqttClientId" value="SuperBService" />
    <add key="EmqIp" value="10.10.17.16" />
    <add key="EmqPort" value="1883" />
    <add key="EmqKeepAlive" value="30" />
    <add key="ProjectName" value="yanjiang" />
    <add key="RedisUrl" value="10.10.17.16:6379" />
    <add key="mysqlUri" value="10.10.13.112" />
    <add key="mysqlUser" value="root" />
    <add key="mysqlPasswd" value="123456" />
    <add key="mysqlPort" value="3306" />
    <add key="iotDbName" value="inIot" />
    <add key="superBDbName" value="SuperB" />
    <add key="ruleIsid" value="3"/>
    <add key="serverUrl" value="10.10.12.164:8080" />
    <add key="managerIsid" value="SuperB"/>
    <add key="nodeIsid" value="100089"/>
  </appSettings>
</configuration>